.collectionname::placeholder {
  font-size: 20px;
  font-family: firacode;
}

.collectionname-submit {
  min-width: 200px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(6, 80, 6);
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: firacode;
}
