.statistic-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.statistic-container-item {
  width: 30%;
  height: 120px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: firacode;
}
.statistic-container-item p {
  font-weight: 900;
}
